@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900;
  }
}

@layer components {
  .hashtag {
    @apply text-blue-600 font-medium hover:text-blue-700 cursor-pointer;
  }
}
